
#topMain.nav-pills li.active a {
    color: #687482;
    background-color: rgba(0,0,0,0.03);
}
#frmregister{margin-bottom: 0px;}
section.page-header h1{font-weight: bold;}
#frmregister .form-group {
    float: left;
    margin-right: 20px;
    width: 48%;
}
#frmregister .form-group.address-box {
    clear: both;
    float: none;
    width: 98% !important;
}
#frmregister .form-group.address-box .form-control{height: 120px;}
#frmregister .margin-top-30 {
    clear: both;
}
#frmregister .register-btn{text-align: left !important;}
.form-control::-moz-placeholder {
    color: rgb(186, 186, 186) !important;
    opacity: 1;
}
#frmregister .form-control {
    border: 1px solid rgb(229, 229, 229) !important;
	height: 50px;
}
.top-links  ul.dropdown-menu {
    margin: 0 0 0 -1px;
    min-width: 122px !important;
}
.top-links .dropdown-menu.pull-right > li {
    border-bottom: 1px solid rgb(229, 229, 229) !important;
}
.top-links ul.dropdown-menu > li > a {
    padding: 8px 12px !important;
}
#frmregister .select2-selection.select2-selection--single {
    height: 50px;
}
#frmregister.select2-selection__rendered{height: 50px !important; line-height: 146px !important;}

#frmlogin {
    margin: 0 auto;
    width: 40%;
}
#frmlogin .form-control{height: 50px !important; border:1px solid rgb(229, 229, 229) !important;border-radius: 3px;}
.sky-form .ico-append, .sky-form .ico-prepend{top:12px !important;}


.padding-xxs.dark {
    background: url(../images/demo/n_image_testi.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
} 
section.page-header.page-header-xs {    
    background: #31b0d5;
}
section.page-header h1 {
    color: #fff;    
}
section.page-header .breadcrumb a {
    color: #fff;
}
.breadcrumb > .active {
    color: #fff;
}
#frmlogin {
    padding: 30px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.btn_custom {
    background: #31b0d5 !important;
    border: none !important;
    font-size: 14px;
    line-height: 100%;
    color: #fff !important;
}
section.page-header .breadcrumb a:hover {
    color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 44px;
}
.overlay.dark-1 {
    background-color: rgba(0,0,0,0.5);
}

#header a.logo > img {
    height: auto;
}
#header.fixed #topNav a.logo > img {
    height: auto;
    margin-top: 9px;
}
.validation-error-label{
    color: red;
}




/*************** media start here 	*************/
@media (min-width:481px) and (max-width:767px){
#header #topNav a.logo {
  height: 40px !important;
  line-height: normal !important;
  margin-top: 10px;
}
#header #topNav a.logo > img {
  max-height: 100% !important;
}
}

@media (min-width:320px) and (max-width:480px){
#header #topNav a.logo {
  height: 34px !important;
  line-height: normal !important;
  margin-top: 15px;
}
#header #topNav a.logo > img {
  max-height: 100% !important;
}
}