/* For Chatting history css */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    padding-bottom: 0px;
        margin: 0px 50px 0px;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 2px;
    background-color: rgb(49, 176, 213);
    left: 5%;
    margin-left: -1.6px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 89%;
    float: left;
    border-radius: 2px;
    padding: 15px;
    position: relative;
    background: #eaeaea;
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 15px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 15px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #f8f8f8;
    border-right: 0 solid #f8f8f8;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 15px;
    left: 5%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border: 2px solid rgb(49, 176, 213);
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}

.timeline-badge.warning img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    vertical-align: top;
}

.verticle-timeline {
    list-style: none;
    padding: 20px 0 0px;
    position: relative;
}

.verticle-timeline::before {
    background-color: #31b0d5;
    content: " ";
    height: 3px;
    left: 0;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 50px;
    position: absolute;
    right: 0;
}

.verticle-timeline li .timeline-msg {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(49, 176, 213);
    border-radius: 30px;
    color: rgb(65, 65, 65);
    font-size: 15px;
    font-weight: bold;
    left: 50%;
    margin-left: -25px;
    padding: 7px;
    position: absolute;
    text-align: center;
    top: 35px;
    z-index: 100;
}

.timeline-msg img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
    vertical-align: top;
}
.verticle-timeline::before {
    background-color: rgb(49, 176, 213);
    content: " ";
    height: 3px;
    left: 0;
    margin-top: 35px;
    position: absolute;
    right: 0;
}

.verticle-timeline .left-section {
    float:left;
    display: inline-block;
    margin-top: 0;
    position: relative;
}
        
.verticle-timeline .right-section {
    display: inline-block;
    float: right;
    margin-top: 0;
    position: relative;
}
.profile-image-border {
    border: 3px solid #31b0d5;
    border-radius: 50px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 70px;
}
.verticle-timeline .left-section img,
.verticle-timeline .right-section img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.cong-msg {
    text-align: center;
    background: rgb(49, 176, 213);
    padding: 15px;
    color: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    border-radius: 6px;
        clear: both;
        margin: 30px 50px 0px;
}

.cong-msg h2 {
    margin: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.cong-msg h5{color: #fff;margin-bottom: 0px;}

.verticle-timeline .left-section span,
.verticle-timeline .right-section span {
    width: 130px;
    display: block;
    font-size: 15px !important;
    padding-top: 5px !important;
    color: #414141;
    font-weight: bold !important;
    text-align: center;
}

.timeline-panel-input {
    float: right;
    width: 89%;
}

.timeline-panel-input input {
    width: 100%;
    padding: 6px;
    border: 2px solid #ddd;
}

.send-btn {
    background: rgb(49, 176, 213);
    color: #fff;
    padding: 10px 20px;
    float: right;
    margin-top: 15px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid #fff;
}

.send-btn:hover {
    color: #fff;
}

.product-reviews .title {
    color: #414141;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    margin: 0 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.product-reviews .reviews .review {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif, sans-serif;
    text-transform: none;
    background: #f8f8f8;
    padding: 20px;
}

.product-reviews .reviews .review .review-title {
    margin-bottom: 5px;
}

.product-reviews .reviews .review .review-title .summary {
    color: #666666;
    font-size: 14px;
    font-weight: normal;
    margin-right: 10px;
    font-style: italic;
}

.product-reviews .reviews .review .review-title .date {
    font-size: 12px;
}

.product-reviews .reviews .review .review-title .date span {
    color: #0f6cb2;
}

.product-reviews .reviews .review .text {
    line-height: 18px;
}

.timeline-heading h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

.review-form label {
    font-weight: normal;
    font-size: 13px;
}

.cong-msg .check {
    display: inline-block;
    height: 60px;
    width: 60px;
    line-height: 58px;
    border-radius: 50%;
    box-shadow: 1px 2px 20px -6px rgba(0, 0, 0, 1);
    background: rgb(39, 175, 214);
    margin-bottom: 0px;
}

.cong-msg .check i {
    font-size: 40px;
    line-height: 62px;
    color: #fff;
    font-weight: lighter;
}

.patient-reviews {
    background: rgb(49, 176, 213);
    color: #fff;
    padding: 20px 50px;
    overflow: hidden;
    border-radius: 6px;
    margin-bottom: 50px;
    width: 100%;
}

.chatting .star-rating {
    font-size: 18px;
}

.chatting .star-rating .star-rating-stars {
    font-family: "Arial Unicode MS", Arial, sans-serif;
    unicode-bidi: bidi-override;
    color: #cccccc;
}

.chatting .star-rating .star-rating-stars .star-rating-star {
    float: left;
    width: 0.88em;
    font-size: 36px;
    color: #fff;
}

.chatting .star-rating .star-rating-stars .star-rating-star:before {
    content: "\2605";
    position: absolute;
    color: #ffb400;
}

.chatting .star-rating .star-rating-current-value:before,
.chatting .star-rating .star-rating-current-value ~ .star-rating-star:before {
    content: normal;
}

.chatting .star-rating.editable:hover .star-rating-current-value:before,
.chatting .star-rating.editable:hover .star-rating-current-value ~ .star-rating-star:before {
    content: "\2605";
    position: absolute;
    color: #ffb400;
}

.chatting .star-rating.editable .star-rating-star:hover,
.chatting .star-rating.editable .star-rating-star:hover ~ .star-rating-star:before {
    content: normal;
    cursor: pointer;
}

.chatting .star-rating .star-rating-aside {
    float: left;
    margin-left: 5px;
    color: #999999;
    font-size: 11px;
    line-height: 24px;
}

.chatting .star-rating.small {
    font-size: 16px;
    line-height: 1;
}

.chatting .star-rating.small .star-rating-aside {
    line-height: 16px;
}

.chatting .star-rating.large {
    font-size: 20px;
}

.chatting .star-rating.large .star-rating-aside {
    line-height: 26px;
}

.chatting .star-rating {
    margin: 0 auto;
    text-align: center;
    display: block;
    max-width: 200px;
}
.timeline-up-section{overflow: hidden;}
.timeline-inverted .timeline-panel{text-align: left;}
.new-section.timeline-up-section {
    margin: 0 auto;
    max-width: 500px;
}
button.btn.send-btn{margin-top: 15px;line-height: 1;margin-bottom: 15px;}
tr.hover-timeline:hover{background: #fff !important;}
        .timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}
.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 20px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 20px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #eaeaea;
    border-right: 0 solid #eaeaea;
    border-bottom: 14px solid transparent;
    content: " ";
}
.send_chat_loader{    
    position: relative;
    padding-left: 30px;
    line-height: 18px !important;
}
.send_chat_loader i{    
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -7px;
    padding-right: 0px !important;
}
.send_msg_loader i{
    padding-right: 0px;
}
@media (max-width: 767px) {
   ul.timeline:before {
        left: 40px;
    }
    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }
    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }
    ul.timeline > li > .timeline-panel {
        float: right;
    }
    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }
    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
    .profile-edit-form {
        padding: 15px !important;
    }
}
/********************************* For Chatting history css ****************************************/

#frmrfp .send_chat_loader{    
    line-height: 2 !important;
}

#topMain.nav-pills li.active a {
    color: #687482;
    background-color: rgba(0,0,0,0.03);
}
#frmregister{margin-bottom: 0px;}
section.page-header h1{font-weight: bold;}
#frmregister .form-group {
    float: left;
    margin-right: 20px;
    width: 48%;
}
#frmregister .form-group.address-box {
    clear: both;
    float: none;
    width: 98% !important;
}
#frmregister .form-group.address-box .form-control{height: 120px;}
#frmregister .margin-top-30 {
    clear: both;
}
#frmregister .register-btn{text-align: left !important;}
.form-control::-moz-placeholder {
    color: rgb(186, 186, 186) !important;
    opacity: 1;
}
#frmregister .form-control {
    /*border: 1px solid rgb(229, 229, 229) !important;*/
	height: 50px;
}
.top-links  ul.dropdown-menu {
    margin: 0 0 0 -1px;
    min-width: 122px !important;
}
.top-links .dropdown-menu.pull-right > li {
    border-bottom: 1px solid rgb(229, 229, 229) !important;
}
.top-links ul.dropdown-menu > li > a {
    padding: 8px 12px !important;
}
#frmregister .select2-selection.select2-selection--single {
    height: 50px;
}
#frmregister.select2-selection__rendered{height: 50px !important; line-height: 146px !important;}

#frmlogin {
    margin: 0 auto;
    width: 40%;
}
#frmlogin .form-control{height: 50px !important; border-radius: 3px;}
.sky-form .ico-append, .sky-form .ico-prepend{top:12px !important;}


.padding-xxs.dark {
    background: url(../images/demo/n_image_testi.png);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
} 
section.page-header.page-header-xs {    
    background: #31b0d5;
}
section.page-header h1 {
    color: #fff;    
}
section.page-header .breadcrumb a {
    color: #fff;
}
.breadcrumb > .active {
    color: #fff;
}
#frmlogin {
    padding: 30px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.15);
}
.btn_custom {
    background: #31b0d5 !important;
    border: none !important;
    font-size: 14px;
    line-height: 100%;
    color: #fff !important;
}
section.page-header .breadcrumb a:hover {
    color: #fff !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 6px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-container--default .select2-selection--single .select2-selection__arrow {
    line-height: 44px;
}
.overlay.dark-1 {
    background-color: rgba(0,0,0,0.5);
}

#header a.logo > img {
    height: auto;
}
#header.fixed #topNav a.logo > img {
  height: 30px;
  margin-top: 9px;
}
.validation-error-label{
    color: red;
}
#topMain.nav-pills > li.notification_side {
  margin-top: 27px;
}
#topMain.nav-pills > li.notification_side > a {
  background: rgb(49, 176, 213) none repeat scroll 0 0;
  color: rgb(255, 255, 255);
  height: auto;
  line-height: normal;  
  margin-left: 12px;
}
#topMain.nav-pills > li.notification_side > a span {
  font-family: Open Sans;
  margin-left: 10px;
}
#sidepanel .sidepanel-content.custom_notification_data {
  margin-left: 15px;
  margin-right: 15px;
}
.custom_notification > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.custom_notification > ul li {
  border-bottom: 1px solid rgb(204, 204, 204);
}
.notifly_head {
  color: #31b0d5;
  line-height: 19px;
  margin-bottom: 10px;
}
.notifly_msg {
  color: rgb(51, 51, 51);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 7px;
}
.notifly_ago {
  color: rgb(151, 151, 151);
  font-size: 13px;
  margin-bottom: 0;
}
.custom_notification_data .custom_notification > ul {
  border: medium none !important;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#sidepanel > a.sidepanel_close {
  background: rgb(49, 176, 213) none repeat scroll 0 0 !important;
  color: rgb(255, 255, 255) !important;
}      
#sidepanel .sidepanel-content.custom_notification_data h2 {
  display: none;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 11px;
  position: relative;
}
.sidepanel-light {
  overflow: visible !important;
}
#sidepanel .sidepanel-content.custom_notification_data {
  margin: 0;
} 
.custom_notification > ul li {
  background: #f8f8f8;
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 8px 12px;
}
#header.fixed #topNav #topMain > li.notification_side > a {
  height: auto;
  line-height: normal;
}
#header.fixed #topNav #topMain > li.notification_side {
  margin-top: 10px;
}
.custom_notification {
  display: block;
  overflow: auto;
}
.custom_notification ul {
  /*height: 720px !important;*/
}
.custom_notification ul {
  max-height: 100% !important;
}
.custom_notification ul li.read {
  background: #fff;
}
/* #f4f4f4 replace with #e8ebf2*/
.custom_notification ul li {
  background: #e8ebf2 none repeat scroll 0 0;
  border-bottom: 1px solid #cccccc;
  line-height: 100%;
  padding: 0 20px 15px;
}
.scrollbar-inner > .scroll-element .scroll-bar {
  background-color: #31b0d5 !important;
}
.scrollbar-inner > .scroll-element .scroll-bar, .scrollbar-inner > .scroll-element .scroll-element_track {
  opacity: 1 !important;
}

#sidepanel > a {
  position: absolute;
  z-index: 999;
}
#sidepanel > a {
  background: #31b0d5 none repeat scroll 0 0 !important;
  border-right: 1px solid #cccccc;
  color: #ffffff !important;
  font-size: 16px;
  height: 30px;
  left: -30px;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 30px;
  z-index: 999;
}
.post_number::after {
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-top: 6px solid #ff7a76;
  bottom: -5px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -4px;
  position: absolute;
  width: 0;
}
.post_number {
  background: #ff7a76 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 12px;
  padding: 2px 7px;
  position: absolute;
  right: -25px;
  text-align: center;
  top: -18px;
}
.fixed .post_number {
  top: -6px;
}


/**************** RFP View Style ****************/
.view-rfp .rfp-main-title{
  text-align: center;
}
.view-rfp .rfp-title{
  border-bottom: 2px solid gray;
    margin-bottom: 0px;
    margin-top: 10px;
}
.view-rfp .teeth th{
  text-align: center;
  color: #000;
  font-size: 15px;
}
.view-rfp .teeth td{
  padding: 10px !important;
}
.view-rfp .table .checkbox {
    margin-right: 0px;
}
.view-rfp h4.rfp-title {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.view-rfp .rfp-basic,.view-rfp .rfp-history,.view-rfp .rfp-treatment,.view-rfp .rfp-additional {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.view-rfp .rfp-history .col-sm-12, .view-rfp .rfp-additional .col-sm-12 {
    margin-bottom: 20px;
    line-height: 16px;
}
.view-rfp label, .view-rfp .title {
    font-size: 15px;
    font-weight: 600;
}
.view-rfp .rfp-additional a img {
    border: 2px solid #ccc;
    padding: 2px;
}
.view-rfp .rfp-additional a {
    margin-right: 10px;
}
.view-rfp .col_custom label {
    display: block;
    margin-bottom: 10px;
}
.view-rfp .owl-wrapper .owl-item .item-box .img-responsive {
    width: 100%;
    height: 250px;
}
.view-rfp .manual_category{
  padding-left: 40px;
}
.fixed_clear_btn i {
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}
.fixed_clear_btn {
  background: #31b0d5 none repeat scroll 0 0;
  border: 0 solid #ffffff;
  color: #ffffff;
  height: 30px;
  left: -30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 30px;
  z-index: 99999999;
}
/**************** End RFP View Style ****************/



/************* List of RFP Bid & Review List **************/
.rfp-title h3{
  text-align: center;
}
.store-list{
  padding: 15px;
  margin-bottom: 30px;
  background-color: #eeeeee;
  position: relative;

}
.store-list .list-inline{
  margin-bottom: 5px;
}
.store-list .rating{
  font-size: 15px;
  color: #fff;
}
.store-list .bid-desc{
  margin-bottom: 5px;
}
.store-list .rfp-mail{
  padding-left: 10px;
}
.store-list .rfp-price{
  font-size: 18px;
  padding: 8px 10px !important;
}
.store-list .rating-img{
  height: 20px;
}
.store-list .msg-btn{
  margin: 5px 0px;
}

.store-list .star-rating{
  margin: 10px 0px;
}
.star-rating #rateYo{
  float: left;
}
.star-rating .point{
  margin-left: 5px;
  padding: 5px;
  background-color: #31b0d5;
  color: #fff;
  border-radius: 5px;
}
.store-list .review-rfp_title{
  margin-bottom: 0px;
}
/************* End RFP BId & Review List ************/

/************* View Profile **************/
.view_profile .tab-content{ 
  padding: 20px;
  margin-top: 0px;
}
.view_profile .tab-content span.title{
  font-weight: bold;
}
.view_profile .text-muted .avg-star-rating  span{
  margin: 0 auto;
}
.view_profile .text-muted{
  text-align: center;
}
.view_profile .text-muted h4{
  margin-top: 20px;
}
/************ End View Profile **********/

.right-msg .media-body {
  text-align: right;
}
.right-msg img.pull-left {
  float: right !important;
  margin-left: 15px !important;
}
.right-msg img.pull-left, .left-msg img.pull-left {
  margin: 0;
}
.right-msg .user_name .block {
  left: 0;
  position: absolute;
  top: 0;
}
.left-msg .user_name .block {
  position: absolute;
  right: 0;
  top: 0;
}
.user_name {
  position: relative;
}
.comment-item.right-msg, .comment-item.left-msg {
  margin-bottom: 20px;
  min-height: 95px;
  border-radius: 6px; 
  margin-right: 5px;
}
.wrapper_msg h4 {
  color: #1980b6;
  margin: 0 0 5px !important;
}
.left-msg img.pull-left {
  margin-right: 15px !important;
}
.comment-item.right-msg {
  background: #f1f1f1 none repeat scroll 0 0;
  padding: 15px;
}
.comment-item.left-msg { 
  padding: 0px 15px;
}
.wrapper_msg {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
padding: 20px;
}
.wrapper_msg h4.page-header {
  margin-bottom: 20px !important;
}
.wrapper_inner_box{
  max-height: 760px;
  overflow: auto;
}
.send_message_area.text_right {
  margin-top: 20px;
  text-align: right;
}
.send_message_area .btn_info {
  background: #1980b6 none repeat scroll 0 0;
  border: 2px solid #1980b6;
  border-radius: 4px !important;
  color: #fff;
  height: auto;
  line-height: normal;
  padding: 9px 30px;
  transition: all 0.5s ease-in-out 0s;
}
.send_message_area .btn_info:hover {
  background: transparent none repeat scroll 0 0;
  color: #1980b6;
}
.right-msg .user_name h4 {
  padding-left: 120px;
}
.left-msg .user_name h4 {
  padding-right: 120px;
}
.pagination-css{
  margin-top: 10px;
}
.list-group-item .avatar {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}
span.favorite {
    margin: 0 5px;
    line-height: 35px;
    width: 30px;
    text-align: center;
    cursor: pointer !important;
}
span.favorite_rfp{
  color: #1980B6;
}
span.unfavorite_rfp{
  color: #555555;
}
span.name {
    width: 100px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin: 0 10px;
}
span.subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
}
span.attachment {
    float: right;
    position: absolute;
    right: 85px;
    top: 20px;
    text-align: right;
}
span.time {
    float: right;
    width: 80px;
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: right;
    font-size: 13px;
}
  .rfp-title{
    border-bottom: 2px solid gray;
    margin-bottom: 0px;
    margin-top: 10px;
  } 
.table.table_custom_data th{
    text-align: center;
    color: #000;
  }
  .table.table_custom_data .checkbox{
    margin-right: 0px;
  }
  .rfp-title.rfp_h3{
    border-bottom: 2px solid gray;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  .check_label{
    float: right;
  }
  #coupan_code{
  padding-left: 12px;
}
#apply-code{
  cursor: pointer;
}
.tparrows {
    display: none !important;
  }
  .btn_search_reset {
    font-size: 13px;
    padding: 0 7px;
}
.list_groop_item_2 span.time {
    top: 14px;
}
.bottom_space {
    margin-bottom: 40px;
}
.modal {
    background: rgba(0,0,0,0.8);
}
.dashboard_design {
  display: inline-block;
  width: 100%;
}
.dashboard_design ul {
  list-style: outside none none;
  padding: 0;
}
.dashboard_design li {
  float: left;
  width: 25%;
}
.dashboard_design ul::after {
  clear: both;
  content: " ";
  display: block;
}


/********** Range Picker Tooltip *********/
.custom-range-slider .tooltip {
    position: absolute;
    z-index: 1020;
    display: block;
    padding: 5px;
    font-size: 11px;
    visibility: visible;
    margin-top: -2px;
    bottom:120%;
    margin-left: -2em;
    opacity: 1;
}

.custom-range-slider .tooltip .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top: 5px solid #000000;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    position: absolute;
    width: 0;
    height: 0;
}
/********** End Range Picker Tooltip *********/

.firrst_ul h4 {
  display: inline-block;
  margin-bottom: 0;
  width: 100%;
} 
.firrst_ul .btn.btn-3d.btn-sm.btn-reveal.btn-info.pull-right {
  display: inline-block;
  margin-bottom: 0;
}
.rfp_table_layout .table-responsive {
  background: #f1f5f8 none repeat scroll 0 0;
}
.rfp_table_layout table th {
  background: #5bc0de none repeat scroll 0 0;
  border-bottom: medium none !important;
  color: #fff;
  padding: 12px 10px !important;
}
.rfp_table_layout .table-responsive table tr td {
  padding: 10px 8px;
}
.rfp_table_layout .show_more , .rfp_table_layout .show_less{
  line-height: normal;
  margin: 0;
}
.rfp_table_layout .table {
  margin-bottom: 0;
}
.custom_btn_plus {
  background: #5bc0de none repeat scroll 0 0;
  color: #fff;
  float: right;
  font-size: 15px;
  padding: 6px 10px;
}
.firrst_ul h4 {
  color: #5bc0de;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 0;
  width: 100%;
}
.custom_btn_plus i {
  font-size: 14px;
  margin-right: 10px;
}
.rfp_table_layout .table-responsive table tr.bid_data td table tr td span {
  display: inline-block;
  font-size: 12px;
}
.rfp_table_layout .table-responsive table tr.bid_data > td {
  padding: 30px 0;
}
.bid_data {
  border-top: 1px solid #ddd;
}

.review-list .doctor_rating span{
  display: inline-block;
  font-size: 12px;
}
.review-doc-comment::after {
  border-bottom: 12px solid #fff;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  content: " ";
  height: 0;
  left: 10px;
  position: absolute;
  top: -12px;
  width: 0;
}
.review-doc-comment {
  background: #fff none repeat scroll 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  margin-top: 20px;
  padding: 15px;
  position: relative;
}

.rfp_radar_filter .checkbox+.checkbox, .radio+.radio {
    margin-top: 0;
}

.rfp_doctor_search .avatar.img-circle{
  height: 40px;
  width: 40px;
}
.rfp_doctor_search .search_rfp_info{
  cursor: pointer;
}
.rfp_doctor_search .favorite{
  cursor: pointer;
}
.rfp_doctor_search table th {
    background: #5bc0de;
    border-bottom: medium none !important;
    color: #fff;
    padding: 12px 10px !important;
}
.last_li_cls {
    list-style: outside none none;
    text-align: center;
    background: #fff !important;
    border-bottom:none !important;
    margin-top: 20px;
    margin-bottom: 10px !important;
}
#sidepanel .last_li_cls .load_more.btn.btn-primary {
  background: rgb(255, 255, 255) none repeat scroll 0 0 !important;
  border: 1px solid rgb(204, 204, 204);
  padding: 5px 25px;
  color:rgb(31, 38, 45) !important;
}
#sidepanel .last_li_cls .load_more.btn.btn-primary:hover{border-color: color:rgb(31, 38, 45) !important;}
.profile-btn{display: block;}
.country_custom span{line-height: 36px !important;}
.country_custom .select2-selection__arrow{top:1px !important;}
.country_custom span.select2.select2-container.select2-container--default{width: 100% !important;}
.nav-tabs{    background: #ddd;}
.tab-content{border: 1px solid #ddd;
    border-top: 0px;}
    .tab-pane{    overflow: hidden;}
    span.title {
    width: 30%;
    display: block;
    float: left;
}span.desc{    width: 80%;}
.profile-edit-form{padding: 50px;}
.profile-edit-form label{
    color: #333;
    text-align: left;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
}
section .nav-tabs.nav-top-border>li.active>a:hover{background-color: #fff !important;border-color: #fff !important;border-top-color: rgb(49,176,213) !important;}
.goto_rfp{
  color: rgb(49,176,213) !important;
}
.form-control:focus {
    border-color: #31b0d5 !important;
}
.select2-container--open .select2-selection.select2-selection--single {
    border: 2px solid #31b0d5;
}
section p span.block strong{ padding-right:0px;}
section p span.block strong i{color: rgb(49,176,213);width: 16px;
    text-align: center;}
    .timeline-inverted.appointment-fix{text-align: center;}
    .timeline-inverted.appointment-fix span{font-size: 14px !important;
    font-weight: bold;padding-right: 5px;}
    .timeline-inverted.appointment-fix p{margin-bottom:10px;    color: #1F262D;}
.panel-flat	 h4{color:#414141;font-size:24px;font-family:"Raleway","Open Sans",Arial,Helvetica,sans-serif;}
.panel-flat .rfp-basic .title{color: #1f262d;color: #1f262d;font-weight: 400;width: 25%;}
.rfp-history label{display: inline-block;width: 30%;color: #1f262d;font-weight: 300;    float: left;}
.bid-title .title{width: 12% !important;}
.rfp-treatment label{color: #1f262d;font-weight: 400;font-size:16px;}
.rfp-treatment ul{margin-bottom:10px;padding-left:20px;}
.rfp-treatment .manual_category {margin-bottom: 10px;padding-left: 15px;}
.rfp-additional label{display: inline-block;width:25%;color: #1f262d;font-weight: 400;font-size:16px;}
.rfp-info label{width:auto !important;}
.rfp-history span{width: 50%;float: left;}
li.from_login_user div.timeline-panel{background: #e0eaf5 !important;}
li.non_user div.timeline-panel{background: #c7edfc !important;} 
li.from_login_user > .timeline-panel:after {
    position: absolute;
    top: 20px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #e0eaf5;
    border-right: 0 solid #e0eaf5;
    border-bottom: 14px solid transparent;
    content: " ";
}
li.from_login_user > .timeline-panel:before {
    position: absolute;
    top: 20px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #e0eaf5;
    border-right: 0 solid #e0eaf5;
    border-bottom: 15px solid transparent;
    content: " ";
}
li.non_user > .timeline-panel:before {
    position: absolute;
    top: 20px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid  #c7edfc;
    border-right: 0 solid #c7edfc;
    border-bottom: 15px solid transparent;
    content: " ";
}
li.non_user > .timeline-panel:after {
    position: absolute;
    top: 20px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid  #c7edfc;
    border-right: 0 solid  #c7edfc;
    border-bottom: 14px solid transparent;
    content: " ";
}
#permanent table tr td{padding: 8px 4px;}
#permanent table tr td .checkbox{  margin: 0 7px 3px;}
.services .list-unstyled.list-icons {
  width: 35%;
  float: left;
}
.column2-footer h4,.column2-footer ul{padding-left: 60px;}
.column2-footer .fa.fa-angle-right {
    padding-right: 10px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}
.faq_page .table td:first-child{width:25%;} 
.rfp_table_layout table tr td.timeline-click {
    cursor: pointer;
}
.table-hover>tbody>tr:hover {
    background-color: rgba(153, 153, 153, 0.26);
}
.my-bid-doctor .bid-title span:first-child{width:14.5% !important;display: inline-block;}
.my-bid-doctor .bid-title span:last-child{width:85%;display: inline-block;}

.process-steps.nav.nav-tabs.nav-justified{  background: none; }
li.active a {
    cursor: pointer !important;
}

/*ul.process-steps li:after, ul.process-steps li:before,
ul.process-steps li:after, ul.process-steps li:after {
    border-top: 1px dashed #999;
}*/
.process-wizard-primary > .process-wizard-step > .process-wizard-dot, .process-wizard-primary > .process-wizard-step > .progress > .progress-bar {
    background: #ccc;
}
.process-wizard-primary > .process-wizard-step.active > .process-wizard-dot, .process-wizard-primary > .process-wizard-step > .progress > .progress-bar,
.process-wizard-primary > .process-wizard-step.complete > .process-wizard-dot, .process-wizard-primary > .process-wizard-step > .progress > .progress-bar {
    background: #31b0d5;
}
.coupen-code-div{clear: both;margin-bottom: 15px;overflow: hidden;}
.current-paypal{margin:8px 0px;}
.account-hide{display: none;}
.account-show{display: block;}
/*************** ` start here 	*************/
@media(max-width:1200px){
#frmregister .form-group {
    width: 100%;
	margin-right:0px;	
}
.panel-flat .rfp-basic .title {
    width: 40%;
}
.bid-title .title {
    width: 20% !important;
}
#map2 iframe{width:100%;}
}
@media (min-width:768px) and (max-width:1024px){
#frmlogin{width:70%;}
::-webkit-scrollbar {
    width: 15px;
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: none;
    background-color: #C1C1C1;
}
.table-responsive ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.table-responsive ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.column2-footer h4, .column2-footer ul{padding-left: 0px;}
}
@media (min-width:768px) and (max-width:991px){
  .wrapper_inner_box {
  padding-right: 20px;
}
#topMain.nav-pills > li.notification_side {
    margin-top: 0;
}
#header #topNav #topMain>li.notification_side>a {
    background: #fff;
    color: #000;
    padding-left: 0px;
    margin-top: 12px;
    margin-bottom: 12px;
}
body #header #topNav #topMain>li.notification_side>a span {
    display: inline-block !important;
}
.post_number {
    background: #ff7a76 none repeat scroll 0 0;
    border-radius: 50px;
    font-size: 10px;
    position: absolute;
    right: inherit;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    top: -8px;
    padding: 0px;
    left: 104px;
}
}

@media (min-width:992px) and (max-width:1199px){
  .wrapper_inner_box {
  padding-right: 20px;
}
}

@media (max-width:767px){
.right-msg .user_name h4 {
  padding-left: 0;
}
.right-msg .user_name .block {
  left: auto;
  position: relative;
  top: auto;
}
.right-msg img.pull-left {
  float: none !important;
  margin-left: 0 !important;
}
.user-avatar {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.right-msg .media-body {
  text-align: center;
}
.left-msg img.pull-left {
  float: none !important;
  margin-right: 0 !important;
}
.left-msg .media-body {
  text-align: center;
}
.left-msg .user_name h4 {
  padding-right: 0;
}
.left-msg .user_name .block {
  position: relative;
  right: auto;
  top: auto;
}
.wrapper_inner_box {
  padding-right: 15px;
}
.message {
  font-size: 13px;
}
label.space{display: none;}
#frmlogin{width:70%;}
section {
    padding: 20px 0px;
}
section div.row>div {
    margin-bottom: 20px;
}
h1 {
    font-size: 30px;
    margin: 0 0 0 0;
    text-align: center;
}
#map2 iframe{width:100%;}
#topMain.nav-pills > li.notification_side {
    margin-top: 0;
}
#header #topNav #topMain>li.notification_side>a {
    background: #fff;
    color: #000;
    padding-left: 0px;
    margin-top: 12px;
		margin-bottom: 12px;
}
body #header #topNav #topMain>li.notification_side>a span{display:inline-block !important;}
.post_number {
    background: #ff7a76 none repeat scroll 0 0;
    border-radius: 50px;
    font-size: 10px;
    position: absolute;
    right: inherit;
    height: 20px;
    width: 20px;
    line-height: 18px;
    text-align: center;
    color: #fff;
    top: -8px;
    padding: 0px;
    left: 104px;
}
#footer .row>div {
    margin-bottom: 20px;
}
#footer p {
    margin-bottom: 10px;
}
#footer h2{margin-bottom:20px;}
#footer h4 {
    margin-top: 20px;
}
section p span.block{margin-bottom:5px;}
.rfp-basic .col-sm-6 {clear:both;}
.bid-title .title {
    width: 51% !important;
}
.panel-flat .rfp-basic .title{width:50%;}
.rfp-history label,
.rfp-additional label{ width: auto;}
.bid_detail .media a.pull-left{
        text-align: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}
.bid_detail .media .media-heading a strong{display: block;
    text-align: center;
    margin: 10px;}
.nav-tabs>li.active{background: #fff !important;}
#password button,
#password a,
#info button,
#info a{width: 100%;margin: 5px 0px; }
span.title{width: 50%;}
.column2-footer h4, .column2-footer ul {
    padding-left: 0px;
}
.check_label {
    font-weight: normal;
}
}

@media (min-width:481px) and (max-width:767px){
#header #topNav a.logo {
  height: 40px !important;
  line-height: normal !important;
  margin-top: 10px;
}
#header #topNav a.logo > img {
  max-height: 100% !important;
}
}

@media (max-width:479px){
.rfp-right {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}
.rfp-right span.attachment {
    float: none;
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
    margin-right: 10px;
}
.rfp-right span.time {
    float: none;
    width: 80px;
    position: relative;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 13px;
}
.rfp-left span.name {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;
    margin: 0 10px;
    display: block;
    text-align: center;
}
.rfp-left span.subject {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 10px;
    text-align: center;
    margin: 5px auto;
    display: inline-block;
    width: 100%;
}

.list-group-item .rfp-left .avatar {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
}
section.view-rfp .pull-right{float:none !important;}
section.view-rfp .pull-right a{display:block; margin-bottom: 10px;}
}  

@media (min-width:320px) and (max-width:480px){
#header #topNav a.logo {
  height: 34px !important;
  line-height: normal !important;
  margin-top: 15px;
}
#header #topNav a.logo > img {
  max-height: 100% !important;
}
#frmlogin{width:98%;}
#topNav div.nav-main-collapse {
    min-height: 270px;
}
.rfp-history .col-sm-12{    margin: 10px 0px !important;overflow: hidden;}
.rfp-history .col-sm-12 label{    font-weight: 400 !important;color: #000;font-size: 15px;}
.rfp-history span {width: 50%float: left;color: #666;font-family: inherit;}
.due_1_price,.due_2_price{    float: none !important;clear: both; display: inline-block;}
}
@media(max-width:330px){
    .panel-body {
    padding: 0px;
}
.teeth-bg{margin-left: -15px !important;margin-bottom: 30px !important;}
}